beautifulsoup4==4.12.3
certifi==2024.2.2
cffi==1.16.0
colorclass==2.2.2
compressed_rtf==1.0.6
cryptography==42.0.3
distlib==0.3.8
easygui==0.98.3
ebcdic==1.1.1
extract-msg==0.47.0
filelock==3.13.1
lark==1.1.8
msoffcrypto-tool==5.3.1
olefile==0.47
oletools==0.60.1
pcodedmp==1.2.6
pipenv==2023.12.1
platformdirs==4.2.0
pycparser==2.21
pyparsing==2.4.7
red-black-tree-mod==1.20
RTFDE==0.1.1
setuptools==69.1.0
soupsieve==2.5
tzlocal==5.2
virtualenv==20.25.0
